<!-- tab buttons -->
<div class="tab-menu">
    <button class="tab-button" (click)="openTab('tab1')" [ngClass]="{ 'active': activeTab === 'tab1' }">Test 1</button>
    <button class="tab-button" (click)="openTab('tab2')" [ngClass]="{ 'active': activeTab === 'tab2' }">Test 2</button>
    <button class="tab-button" (click)="openTab('tab3')" [ngClass]="{ 'active': activeTab === 'tab3' }">Test 3</button>
    <button class="tab-button" (click)="openTab('tab4')" [ngClass]="{ 'active': activeTab === 'tab4' }">Test 4</button>
</div>
<!-- tab content -->
<div class="tab-content" [ngClass]="{ 'active': activeTab === 'tab1' }">
    <app-test-one></app-test-one> 
</div>

<div class="tab-content" [ngClass]="{ 'active': activeTab === 'tab2' }">
    <app-test-two></app-test-two>
</div>

<div class="tab-content" [ngClass]="{ 'active': activeTab === 'tab3' }">
    <app-test-three></app-test-three>
</div>

<div class="tab-content" [ngClass]="{ 'active': activeTab === 'tab4' }">
    <app-test-four></app-test-four>
</div>