
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

button[type="submit"] {
    background-color: #1D95C9;
    color: #fff;
}

button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button[type="button"] {
    background-color: #f44336;
    color: #fff;
    margin-left: 10px;
}

div[role="alert"] {
    color: #f44336;
    /* Vermelho */
    font-size: 14px;
}

.required-field {
    color: #f44336;
    margin-left: 2px;
    font-size: 12px;
    opacity: 0.7;
}

.form-inputs {
    max-width: 500px;
}

.inputs-form {
    width: 100%;
}

.error-message {
    color: #f44336;
    font-size: 11px;
    margin-top: 5px;
}
